@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #a8e2a8;
}

.header {
    color: rgb(39, 145, 39);
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    padding-left: 30px;
}

.dashboardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
}

#templateGrid {
    display: contents; 
}

.templateCard {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 220px;
    background-color: rgb(232, 255, 237);
    border: 1px solid #265c19;
    border-radius: 8px;
    overflow: hidden;
}

.cardClickArea {
    flex-grow: 1; 
    padding: 15px 15px 0 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cardClickArea:hover {
    background-color: #d1f4d3;
}

.cardClickArea:active {
    background-color: #bbecbd;
}

.cardActions {
    padding: 10px;
    border-top: 1px solid #265c19;
    text-align: right; 
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: #da1313;
    z-index: 9999;
    cursor: pointer;
    font-size: 12px;
    transition: colour 0.2s;
}

.deleteButton:hover {
    color: #ac0d0d;
}

.deleteButton:active {
    color: #840a0a;
}

.cardContent p {
    font-size: 12px;
    color: #666;
    margin-top: 8px;

    white-space: pre-wrap;      
    word-break: break-word;     
    display: block;
    
    max-height: 130px;        
    overflow-y: auto; 
    
    scrollbar-color: green transparent;
}

.cardContent strong {
    display: block;
    color: rgb(2, 118, 2);
    width: 100%;
    white-space: nowrap;
    overflow:  hidden; 
    text-overflow: ellipsis;
}

.newWindow {
    display: none; 
    position: fixed;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.contentWindow {
    background: #1b631b;
    padding: 30px;
    border-radius: 12px;
    width: fit-content;       
    min-width: 400px;         
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#windowTitle {
    color: #59c95d;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.contentWindow textarea {
    height: 150px;
    padding: 10px;
    max-width: 100%;
    background-color: rgb(232, 255, 237);
    border-radius: 8px;
    scrollbar-color: green transparent;
}

.contentWindow #tempName {
    border-radius: 5px;
}

.contentWindow #tempName, #tempBody {
    font-family: "Montserrat", sans-serif;
    border-color: #65cd67;
    border-style: solid;
    background-color: rgb(232, 255, 237);
    color: #15380d
}

.windowButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#createNewButton {
    background-color: #145f17;
    border-color: #082009;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

#createNewButton:hover {
    background-color: #1b6f1d;
}

#createNewButton:active {
    background-color: #28882a;
}

.plusIcon {
    font-size: 35px;
    color:#d8ffce;
    font-weight: 300;
}

#cancelButton, #saveButton {
    border-radius: 5px;
    border-style: solid;
    border-color: #65cd67;
    border-width: 1px;
    background-color: #143c17;
    color: #e0e6e1;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#cancelButton:hover, #saveButton:hover {
    background-color: #1c4e20;
    
}

#cancelButton:active, #saveButton:active {
    background-color: #26692c;
}