.myTemplates {
    background-color: rgb(56, 144, 60);
    color: rgb(226, 245, 220);
    padding: 8px;
    border-radius: 5px;
    border-width: 0px;
    margin: 8px 0 8px 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.myTemplates:hover {
    background-color: rgb(69, 170, 75);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.myTemplates:active {
    background-color: rgb(76, 193, 82);
}

/* The container for the menu */
.templateMenu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 9999; /* Make sure it stays on top */
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    min-width: 150px;
    width: max-content;
}

/* The individual items in the menu */
.templateItem {
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
    color: #333;
}

.templateItem:hover {
    background-color: #f1f1f1;
}