.myTemplates {
    background-color: rgb(56, 144, 60);
    color: rgb(226, 245, 220);
    padding: 8px;
    border-radius: 5px;
    border-width: 0px;
    margin: 8px 0 8px 8px;
    z-index: 9999;
    height: fit-content;
    display: inline-flex; 
    align-self: center;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.myTemplates:hover {
    background-color: rgb(69, 170, 75);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.myTemplates:active {
    background-color: rgb(76, 193, 82);
}

.templateMenu {
    position: absolute;
    background-color: rgb(239, 255, 241);
    border: 1px solid #bbd8b9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    min-width: 150px;
    width: max-content;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: green transparent;
}

.templateItem {
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
    color: #333;
}

.templateItem:hover {
    background-color: #c9f0c2;
}